.pending{
    width: 100%;
    margin: 30px 30px 50px 0;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    flex-grow: 2;
    position: relative;
  }
  .pending h2{
    background-color: rgba(255, 0, 0, 0.664);
    padding: 9px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
 input:checked+span {
      text-decoration: line-through;
      text-decoration-color: #A683E3;
    }
    
  input[type="checkbox"] {
      margin: 10px;
    }
  .item{
      min-height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
      padding: 0 5px;
      background-color: white;
  }
  form{
    text-align: center;
    position: sticky;
    bottom: 0;
    /* margin-left: 20px; */
  }
  button[type="submit"] {
      min-height: 50px;
      width: 50px;
      border-radius: 50%;
      border-color: transparent;
      background-color: #A683E3;
      color: #fff;
      font-size: 30px;
      padding-bottom: 6px;
      border-width: 0;
      text-align: center;
    }
    
    .item input[type="text"] {
      text-align: center;
      height: 60px;
      top: 10px;
      border: none;
      background: transparent;
      font-size: 20px;
      font-weight: 200;
      width: 80%;
    }
    
    .item input[type="text"]:focus {
      outline: none;
      box-shadow: inset 0 -3px 0 0 #A683E3;
    }
    
    ::placeholder {
      color: grey;
      opacity: 1;
    }